<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('tools/header') %>
    <title>Consultar Bonos</title>
</head>
<body>

    <%-include('tools/navigation') %>

    <%if (bonos.length > 0) {%>

    <div class="container p-4">
        <div class="row">            
            <%bonos.forEach(function(bono){%>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <%= bono.id %>                        
                    </div>
                    <div class="card card-body">
                        <p><%= bono.name %></p>
                        <p><%= bono.description %></p>
                        <p><%= bono.product_id %></p>
                        <p><%= bono.valid_since %></p>
                        <p><%= bono.valid_until %></p>                                                                                                               
                    </div>        
                </div>
            </div>
            <% }); %>
            <%} else {%>
                <div class="card card-body text-center">
                  <p>No Hay Bonos aun <a href="/adicionar-bono">Adicionar Bono</a></p>
                </div>
                <%}%>            
        </div>
    </div>

</body>
</html>