<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Consultar Bonos</title>
</head>
<body>

    <%-include('tools/navigation') %>

    <%if (bonos.length > 0) {%>

    <div class="container p-4">
        <div class="row">            
            <%bonos.forEach(function(bono){%>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <%= bono.id %>                        
                    </div>
                    <div class="card card-body">
                        <p><%= bono.name %></p>
                        <p><%= bono.description %></p>
                        <p><%= bono.product_id %></p>
                        <p><%= bono.valid_since %></p>
                        <p><%= bono.valid_until %></p>                                                                                                               
                    </div>        
                </div>
            </div>
            <% }); %>
            <%} else {%>
                <div class="card card-body text-center">
                  <p>No Hay Bonos aun <a href="/adicionar">Adicionar Bono</a></p>
                </div>
                <%}%>            
        </div>
    </div>

</body>
</html>